Sample program to convert temperature to celsius

In [ ]:
celsius=int(input("Enter the Temperature in Celsius:"))
fahrenheit=(1.8*celsius)+32
print("Temperature in Fahrenheit:", fahrenheit)

Enter the Temperature in Celsius:44
Temperature in Fahrenheit: 111.2

Sample program to swap two numbers

In [ ]:
def swap (a,b):
  a,b=b,a
  print("After swap:")
  print("First number=",a)
  print("Second number=",b)
a=input("\n Enter the first number:")
b=input("\n Enter the second number:")
print("Before swap:")
print("First number=",a)
print("Second number=",b)
swap(a,b)

 Enter the first number:56

 Enter the second number:89
Before swap:
First number= 56
Second number= 89
After swap:
First number= 89
Second number= 56

Sample program to check whether a year is leap year or not

In [ ]:
year=int(input("Enter any year:"))
if((year%4==0 and year%100!=0)or(year%400==0)):
  print("Leap Year")
else:
    print("Not a Leap Year")

Enter any year:2026
Not a Leap Year

Sample program to display reverse of a number

In [ ]:
number = input("Enter a number to reverse: ")
reversed_number = number[::-1]
print(f"The reversed number is: {reversed_number}")

Enter a number to reverse: 65327
The reversed number is: 72356

Sample program to find factors of a given number

In [ ]:
number = int(input("Enter a number to find its factors: "))
factors = [i for i in range(1, number + 1) if number % i == 0]
print(f"The factors of {number} are: {factors}")

Enter a number to find its factors: 16
The factors of 16 are: [1, 2, 4, 8, 16]

Sample program to generate prime number series upto n

In [1]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
def prime_series(n):
    primes = []
    for num in range(2, n + 1):
        if is_prime(num):
            primes.append(num)
    return primes
n = 50
print(f"Prime numbers up to {n}: {prime_series(n)}")

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Sample program to check whether a number is palindrome or not

In [2]:
def is_palindrome(number):
    str_number = str(number)
    return str_number == str_number[::-1]
number = int(input("Enter a number: "))
if is_palindrome(number):
    print(f"{number} is a palindrome.")
else:
    print(f"{number} is not a palindrome.")

Enter a number: 12521
12521 is a palindrome.

Sample program to generate the fibonacci series upto n

In [3]:
def fibonacci_series(n):
    fib_series = []
    a, b = 0, 1
    while a <= n:
        fib_series.append(a)
        a, b = b, a + b
    return fib_series
n = int(input("Enter a number: "))
fib_series = fibonacci_series(n)
print(f"Fibonacci series up to {n}: {fib_series}")

Enter a number: 10
Fibonacci series up to 10: [0, 1, 1, 2, 3, 5, 8]

Sample program which makes use of function to display all such numbers which are
divisible by 7 but are not a multiple of 5, between 1000 and 2000.

In [4]:
def find_numbers():
    result = []
    for num in range(1000, 2001):
        if num % 7 == 0 and num % 5 != 0:
            result.append(num)
    return result
numbers = find_numbers()
print("Numbers divisible by 7 but not a multiple of 5 between 1000 and 2000:")
print(numbers)

Numbers divisible by 7 but not a multiple of 5 between 1000 and 2000:
[1001, 1008, 1022, 1029, 1036, 1043, 1057, 1064, 1071, 1078, 1092, 1099, 1106, 1113, 1127, 1134, 1141, 1148, 1162, 1169, 1176, 1183, 1197, 1204, 1211, 1218, 1232, 1239, 1246, 1253, 1267, 1274, 1281, 1288, 1302, 1309, 1316, 1323, 1337, 1344, 1351, 1358, 1372, 1379, 1386, 1393, 1407, 1414, 1421, 1428, 1442, 1449, 1456, 1463, 1477, 1484, 1491, 1498, 1512, 1519, 1526, 1533, 1547, 1554, 1561, 1568, 1582, 1589, 1596, 1603, 1617, 1624, 1631, 1638, 1652, 1659, 1666, 1673, 1687, 1694, 1701, 1708, 1722, 1729, 1736, 1743, 1757, 1764, 1771, 1778, 1792, 1799, 1806, 1813, 1827, 1834, 1841, 1848, 1862, 1869, 1876, 1883, 1897, 1904, 1911, 1918, 1932, 1939, 1946, 1953, 1967, 1974, 1981, 1988]

Sample program to check whether a)is a perfect number b)is an Armstrong number

In [5]:
def is_perfect(number):
    if number < 1:
        return False
    divisors_sum = sum([i for i in range(1, number) if number % i == 0])
    return divisors_sum == number
def is_armstrong(number):
    num_str = str(number)
    num_length = len(num_str)
    armstrong_sum = sum([int(digit) ** num_length for digit in num_str])
    return armstrong_sum == number
number = int(input("Enter a number: "))
if is_perfect(number):
    print(f"{number} is a perfect number.")
else:
    print(f"{number} is not a perfect number.")
if is_armstrong(number):
    print(f"{number} is an Armstrong number.")
else:
    print(f"{number} is not an Armstrong number.")

Enter a number: 153
153 is not a perfect number.
153 is an Armstrong number.

Misc- Sample program to print your name

In [6]:
name="Arpita Hati"
print(name)

Arpita Hati

Sample program to add two numbers

In [8]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
sum = num1 + num2
print("The sum of {0} and {1} is {2}.".format(num1, num2, sum))

Enter first number: 15
Enter second number: 15
The sum of 15 and 15 is 30.

Sample program to change temperature from Fahrenheit to Celsius

In [9]:
def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5 / 9
fahrenheit = float(input("Enter temperature in Fahrenheit: "))
celsius = fahrenheit_to_celsius(fahrenheit)
print(f"{fahrenheit} Fahrenheit is equal to {celsius:.2f} Celsius.")

Enter temperature in Fahrenheit: 98.6
98.6 Fahrenheit is equal to 37.00 Celsius.

Sample program to find area & perimeter of a circle

In [10]:
import math
def calculate_area(radius):
    return math.pi * radius ** 2
def calculate_perimeter(radius):
    return 2 * math.pi * radius
radius = float(input("Enter the radius of the circle: "))
area = calculate_area(radius)
perimeter = calculate_perimeter(radius)
print(f"The area of the circle with radius {radius} is {area:.2f}.")
print(f"The perimeter (circumference) of the circle with radius {radius} is {perimeter:.2f}.")

Enter the radius of the circle: 5
The area of the circle with radius 5.0 is 78.54.
The perimeter (circumference) of the circle with radius 5.0 is 31.42.

Sample program to find area & perimeter of a rectangle

In [11]:
def calculate_area(length, width):
    return length * width
def calculate_perimeter(length, width):
    return 2 * (length + width)
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))
area = calculate_area(length, width)
perimeter = calculate_perimeter(length, width)
print(f"The area of the rectangle with length {length} and width {width} is {area:.2f}.")
print(f"The perimeter of the rectangle with length {length} and width {width} is {perimeter:.2f}.")

Enter the length of the rectangle: 15
Enter the width of the rectangle: 6
The area of the rectangle with length 15.0 and width 6.0 is 90.00.
The perimeter of the rectangle with length 15.0 and width 6.0 is 42.00.

Sample program to display whether a number is odd or even

In [12]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print(f"{number} is an even number.")
else:
    print(f"{number} is an odd number.")

Enter a number: 52
52 is an even number.

Sample program to check if a number is Positive or Negative

In [13]:
number = float(input("Enter a number: "))
if number > 0:
    print(f"{number} is a positive number.")
elif number < 0:
    print(f"{number} is a negative number.")
else:
    print(f"{number} is zero.")

Enter a number: -9
-9.0 is a negative number.

Sample program to find maximum of three numbers

In [14]:
num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))
num3 = int(input("Enter the third integer: "))
maximum = max(num1, num2, num3)
print(f"The maximum of {num1}, {num2}, and {num3} is {maximum}.")

Enter the first integer: 85
Enter the second integer: 120
Enter the third integer: 48
The maximum of 85, 120, and 48 is 120.

Sample program to convert miles to kilometers

In [15]:
def miles_to_kilometers(miles):
    return miles * 1.60934
miles = float(input("Enter distance in miles: "))
kilometers = miles_to_kilometers(miles)
print(f"{miles} miles is equal to {kilometers:.2f} kilometers.")

Enter distance in miles: 19
19.0 miles is equal to 30.58 kilometers.

Sample program to check whether a number is divisible by 5 or not

In [16]:
number = int(input("Enter a number: "))
if number % 5 == 0:
    print(f"{number} is divisible by 5.")
else:
    print(f"{number} is not divisible by 5.")

Enter a number: 56
56 is not divisible by 5.